<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.project.storage.box.mapper.BoxMapper">
    <insert id="insert">
insert into t_box_standard (box_standard, box_unit_price, remark, sort_no, create_time, create_by, update_time,update_by, version, del_flag)
value (#{boxStandard},#{boxUnitPrice},#{remark},#{sortNo},#{createTime},#{createBy},#{updateTime},#{updateBy},#{version},#{delFlag})
    </insert>
    <delete id="delete">
        delete from t_box_standard where id=#{id}
    </delete>

    <select id="queryAll" resultType="com.neusoft.project.storage.box.domain.Box">
        select * from t_box_standard
    </select>
    <select id="querylist" resultType="com.neusoft.project.storage.box.domain.Box">
    </select>
</mapper>